nav {
    height: 10vh;
    background-color: teal;
}

.content {
    height: 40vh;
    background-color: orange;
}

.content-2 {
    height: 40vh;
    background-color: palegreen;
}

footer {
    height: 10vh;
    background-color: peachpuff;
}

